.Splash {
    margin: 0;
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: #f2fdfe;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.suButton {
    background-color: #40e1fc;
    border-radius: 3px;
    margin: 1rem;
}

.liButton {
    background-color: #04fbc0;
    border-radius: 3px;
    margin: 1rem;
}