.mainPage {
    max-width: 900px;
    margin-right: auto;
    margin-left: 350px;
    padding-right: 200px;
    padding-left: 200px;
}

.nav-body {
    height: 100vh;
    width: 160px;
    position: fixed;
    background-color: #003d40;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.nav-text {
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.nav-button {
    padding: 0;
    margin-top: 70%;
}

.nav-bttn {
    height: 2em;
    width: 7em;
    border-radius: 12px;
}

.nav-bttn a {
    text-decoration-line: none;
}